/* styling for the categories page  */

main.categories-main{
    background-color: var(--bg-main);
    height: 100vh;
    padding-block-start: 3rem;
    display:grid;
    grid-template-rows: auto 1fr;
    overflow-x: hidden;
}

.top > p{
    color:white;
    font-size: 2rem;
    font-family: poppins-semiBold;
    width:90vw;
    margin: 0rem auto 4rem;
    position: relative;
    opacity: 0;
    z-index: 3;
    animation: slide-up 2s ease-in-out forwards;
    -webkit-animation: slide-up 2s ease-in-out forwards;
    transform: rotateX(-90deg) translateY(40rem);
    -webkit-transform: rotateX(-90deg) translateY(40rem);
    -moz-transform: rotateX(-90deg) translateY(40rem);
    -ms-transform: rotateX(-90deg) translateY(40rem);
    -o-transform: rotateX(-90deg) translateY(40rem);
}

.top >p::after{
    content: "";
    width:15rem;
    height:15rem;
    background:linear-gradient(var(--ball));
    opacity: .4;
    position: absolute;
    top:0;
    left:0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation: alternate float 10s ease-in-out infinite;
    -webkit-animation: alternate float 10s ease-in-out infinite;
    transition: all ease;
    -webkit-transition: all ease;
    -moz-transition: all ease;
    -ms-transition: all ease;
    -o-transition: all ease;
    z-index: -1;
}

.categories-main .categories-body{
    position: relative;
    z-index: 6;
    background-color: var(--category-bg);
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
    padding: 2rem;
}

.categories-body h1{
    font-family: poppins-semibold;
    font-size: 2.5rem;
    font-weight: normal;
    margin: 1rem auto 1rem 0rem;
    max-width:90vw;
}

.categories-container{
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    row-gap: 4rem;
    column-gap: 5rem;
    justify-content: center;
    width: 90vw;
    max-width: 45rem;
    margin:3rem auto 0;
}

.categories-container > div{
    max-width: fit-content;
    display:flex;
    align-items:center;
    flex-direction: column;
}

.categories-container > div > div{
    width: 14rem;
    height:14rem;
    display: flex;
    align-items: center;
    justify-content:center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.categories-container > div .active-addition{
    border: 8px solid hsl(16, 100%, 73%);
}

.categories-container > div .active-subtraction{
    border: 8px solid hsl(196, 100%, 73%);
}

.categories-container > div .active-division{
    border: 8px solid hsl(100, 100%, 73%);
}

.categories-container > div .active-multiplication{
    border: 8px solid hsl(316, 100%, 73%);
}

.addition .addition-circle{
    background:linear-gradient(var(--btn-addition));
    box-shadow: 0 .5rem 1rem hsla(16, 100%, 53%, 0.5);
    }

.subtraction .subtraction-circle{
    background: linear-gradient(var(--btn-subtraction));
    box-shadow: 0 .5rem 1rem hsl(196, 100%, 43%, 0.5);
}

.division .division-circle{
    background: linear-gradient(var(--btn-division));
    box-shadow: 0 .5rem 1rem hsl(115, 100%, 53%, 0.5);
}

.multiplication .multiplication-circle{
    background: linear-gradient(var(--btn-multiplication));
    box-shadow: 0 .5rem 1rem hsl(316, 100%, 53%,0.4);
}

.categories-container > div div p{
    color:white;
    font-size: 5rem;
    font-family: poppins-semiBold;
}

.categories-container > div div p::selection{
    background-color: initial;
    color: white;
}

.categories-container > div > p{
    font-size: 2rem;
    font-family: poppins-semiBold;
    cursor: pointer;
    margin: 1rem 0 0;
}

@media screen and (min-width:600px) {
    .top p{
        font-size: 2.5rem;
    }

    .categories-body h1{
        text-align: center;
        margin: 1rem auto 4rem;
    }

    .categories-container{
        column-gap: 10rem;
    }

    .categories-container > div > div{
        width: 15rem;
        height:15rem;
    }
}

@media screen and (min-width:900px) {
    .top{
        height: 15rem;
    }

    .top > p{
        margin: 1.5rem auto 0rem auto;
    }

    .categories-main .categories-body{
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    .categories-container{
        display: flex;
        max-width: none;
        align-items: center;
        margin: 5rem auto;
    }
}




/* animations and hover effect*/
@keyframes float {
    25%{
        top:-2rem;
    }

    50%{
        top:2rem;
    }

    75%{
        top:-2rem;
    }

    100%{
        right:0;
        left:90%;
    }
}

@keyframes slide-up {
    100%{
        transform: rotateX(0deg) translateY(0);
        -webkit-transform: rotateX(0deg) translateY(0);
        -moz-transform: rotateX(0deg) translateY(0);
        -ms-transform: rotateX(0deg) translateY(0);
        -o-transform: rotateX(0deg) translateY(0);
        opacity: 1;
}
}

.categories-container > div > div:hover{
    cursor: pointer;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    /* box-shadow: 0 .5rem 1.3rem hsla(16, 100%, 53%, 0.4); */
}

.categories-container > div > div:active{
    transform: scale(.95) translateY(5px);
    -webkit-transform: scale(.95) translateY(5px);
    -moz-transform: scale(.95) translateY(5px);
    -ms-transform: scale(.95) translateY(5px);
    -o-transform: scale(.95) translateY(5px);
}