main.gameplay-main{
    background-image: linear-gradient(var(--gameplay-bg));
    min-height:100vh;
    padding: 3rem 0 4rem;
}

.gameplay-main .cancel{
    background-color: var(--x-fill);
    color: white;
    padding: .5rem;
    margin: 0 0 0 2rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.gameplay-main .progress{
    color:white;
    font-size: 1.4rem;
    text-align: center;
    margin:2rem 0 0;
}

.gameplay-main .question{
    font-size: 6rem;
    font-family: poppins-semiBold;
    color:white;
    max-width: fit-content;
    margin:0 auto 2rem;
}

.gameplay-main .answers{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin:4rem auto 6rem;
    max-width: 40rem;
    row-gap: 4rem;
}

.answers .answer{
    width:12rem;
    height:12rem;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: var(--answers-bg);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 0 0 2rem var(--answers-shadow);
    border: 10px solid var(--answers-border);
}

.answer.active{
    background-color: var(--answer-fill);
}

.answer p{
    font-size: 4rem;
    font-family: poppins-semiBold;
    color:white;
}

.gameplay-main button{
    display: block;
    margin: 4rem auto;
    font-family: poppins-semiBold;
    font-size: 2rem;
    padding: 1rem 2.5rem;
    border:none;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
    background-color: var(--cta-button);
    color: var(--cta-button-text);
    box-shadow: 0 0 1rem var(--cta-button-shadow);
    
}

.gameplay-main button.disabled{
    opacity: .6;
    pointer-events: none;
}

.gameplay-main .overlay{
    position: fixed;
    top:0;
    left:0;
    background-color: rgba(0, 0, 0, 0.39);
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity:0;
    visibility: hidden;
    transition: .01s ease-in-out;
    -webkit-transition: .01s ease-in-out;
    -moz-transition: .01s ease-in-out;
    -ms-transition: .01s ease-in-out;
    -o-transition: .01s ease-in-out;
}

div.score-showcase{
    background-color: var(--wrong-answer-popup);
    width:90%;
    max-width: 40rem;
    border-radius: 1rem;
    padding:2rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.226);
}

.score-showcase span{
    font-size: 2rem;
    font-family: poppins-semiBold;
}

.score-showcase p{
    color:white;
    font-size: 1.5rem;
    font-family: poppins;
    text-align: center;
}

.score-showcase button{
    margin:4rem auto 0 auto; 
}

.gameplay-main .overlay.visible{   
    visibility: visible; 
    opacity:1;
}

@media screen and (min-width:600px) {
    .gameplay-main .cancel{
        margin: 1rem 0 0 6rem;
    }

    .gameplay-main .progress{
        margin:6rem auto 1rem;
        font-size: 1.5rem;
    }

    .gameplay-main .question{
        margin:0 auto 4rem;
    }
}

@media screen and (min-width:900px) {
    .gameplay-main .progress{
        margin: 9rem auto 1rem;
    }

    .gameplay-main .answers{
        display:flex;
        align-items: center;
        justify-content: space-between;
        max-width: 60rem;
    }
}



/* animations and hover effect*/
.answers .answer:hover,
.gameplay-main .cancel:hover,
.gameplay-main button:hover
{
    cursor: pointer;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.answers .answer:active,
.gameplay-main .cancel:active,
.gameplay-main button:active
{
    transform: scale(.95) translateY(5px);
    -webkit-transform: scale(.95) translateY(5px);
    -moz-transform: scale(.95) translateY(5px);
    -ms-transform: scale(.95) translateY(5px);
    -o-transform: scale(.95) translateY(5px);
}

@keyframes score-float {
    100%{
        transform: translateY(-50rem);
        -webkit-transform: translateY(-50rem);
        -moz-transform: translateY(-50rem);
        -ms-transform: translateY(-50rem);
        -o-transform: translateY(-50rem);
        opacity: 0;
}
}